{% load static %}

    <div class="caixa">
        <div class="dados-pessoais">
            <h1 class="foto-perfil"> <img src="{% static '_imagens/fernando-martins.png' %}"></h1>
            <h1 class="curriculum">Curriculum<h1>
                    <h2 class="dados-pessoaish2" > Dados Pessoais<h2>
                            <p class="dados">&#128100; Fernando Martins Vilas Boas </p>
                            <p class="dados">&#64; fmartinsfotografias@gmail.com </p>
                            <p class="dados"><a class="link"href="https://api.whatsapp.com/send?phone=5547999214977/" target="blank">&#128222; (47)
                                    99921-4977</a></p>
                            <p class="dados">&#127968; Rua Eng.Oderbrecht, 990 - Blumenau-SC</p>
                            <p class="dados"><a class="link"href="https://github.com/fmartinsfotografias" target="blank">&#127760; GitHub</a></p>
                            <p class="dados"><a class="link"href="https://www.instagram.com/fernandomartinsvilasboas/" target="blank">&#128247; Instagram</a></p>

                            <h2 class="competencias">Competências</h2>
                            <dl>
                                <dt class="cursos">Python</dt>
                                <br>
                                <dd class="nivel">Python Básico</dd>
                                <br>
                                <dt class="cursos">HTML/CSS</dt>
                                <br>
                                <dd class="nivel">HTML Básico</dd>
                                <dd class="nivel">CSS Básico</dd>

                                <br>
                                <dt class="cursos">JavaScript</dt>
                                <br>
                                <dd class="nivel">JavaScript Basico</dd>
                                <br>

                                <br>
                                <dt class="cursos">Edição de Fotografias</dt>
                                <br>
                                <dd class="nivel">Lightroom</dd>
                                <dd class="nivel">Photoshop</dd>
                                <br>
                                </ol>
        </div>
